on:
  push:
    branches:
      - master

jobs:
  build:
    name: Build, push, and deploy
    runs-on: ubuntu-latest
    steps:
    - name: Checkout main
      uses: actions/checkout@v2

    - name: Build container image
      run: docker build -t registry.digitalocean.com/placenet/shift:v$GITHUB_RUN_NUMBER .

    - name: Install doctl
      uses: digitalocean/action-doctl@v2
      with:
        token: ${{ secrets.DIGITALOCEAN_ACCESS_TOKEN }}

    - name: Log in to DigitalOcean Container Registry with short-lived credentials
      run: doctl registry login --expiry-seconds 600

    - name: Push image to DigitalOcean Container Registry
      run: docker push registry.digitalocean.com/placenet/shift:v$(echo $GITHUB_RUN_NUMBER)

    - name: Save DigitalOcean kubeconfig with short-lived credentials
      run: doctl kubernetes cluster kubeconfig save --expiry-seconds 120 placenet

    - name: Deploy to DigitalOcean Kubernetes
      run: kubectl set image deployment/shift shift=registry.digitalocean.com/placenet/shift:v$(echo $GITHUB_RUN_NUMBER)

    - name: Verify deployment
      run: kubectl rollout status deployment/shift

